@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}
.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover {
  color: #ff8000;
}

header {
  grid-area: 'header';
  background-color: #203040;
  color: #ffffff;
  display: flex;

  align-items: center;
  padding: 0.5rem;
}

header a {
  color: #ffffff;
}

a {
  text-decoration: none;
}

main {
  grid-area: 'main';
}

footer {
  grid-area: 'footer';
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* products */

ul {
  list-style-type: none;
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-shrink: 0; */
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
  /* margin: 1rem; */
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.product img {
  max-width: 37rem;
  max-height: 37rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 0.8rem;
}

.button:hover {
  border: 0.1rem #808080 solid;
  border-radius: 0.8rem;
}
.button.primary {
  background-color: #ffc000;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div {
  flex: 1;
  text-align: center;
}

.cart {
  padding: 1.2rem;
  margin: 1rem;
  display: flex;
}

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items {
  padding: 0;
  width: 100%;
  /* list-style-type: none; */
}

.cart-items img {
  width: 5rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

/* .cart-items li div:last-child {
  flex: 1;
} */

/* .right {
  text-align: right;
} */
.btn-cart {
  font-size: 1rem;
  padding: 0.7rem;
  margin-left: 1rem;
}

.total {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.cart-total {
  border-top: 0.1rem #c0c0c0 solid;
  padding-top: 1rem;
}

.total > div {
  font-size: 1.8rem;
  margin-left: 1rem;
}

.total > button {
  flex: 1;
}
.cart1 {
  display: flex;
  flex-direction: column;
}

.cart2 {
  padding-left: 0;
}

/* Checkout */

/* form {
  width: 100%;
} */

.form-container {
  width: 100%;
  padding: 0;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0, solid;
}
